.pd_div{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.pd_div p{
	margin: 0px;
}

.sn_span{
	display: block;
	width: 20px;
	height: 100%;
	background-color: red;
	text-align: center;
	margin-left: -1em;
}