<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/site/quick.css" rel="stylesheet" />
    <link href="/static/site/app.css" rel="stylesheet" />
    <script src="/static/site/zepto.min.js"></script>
    <script type="text/javascript">
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	    // 通过下面这个API隐藏底部导航栏
	    WeixinJSBridge.call('hideToolbar');
	});
	document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	    // 通过下面这个API隐藏右上角按钮
	    WeixinJSBridge.call('hideOptionMenu');
	});
	</script>
    
    <style type="text/css">
    .block{
    	padding: 10px;
    }
    .sp_lable{
		background-color: #E64346;
    	color: #FFFFFF;
		display: block;
		margin-left: 0em;
		text-align: center;
		width: 20px;
    }
    .div_center{
    	margin:0px auto;
    }
    .noshow{
    	display: none;
    }
    </style>
</head>

<body>
<section class="container noshow" id="pg_msg">
	<div class="grid">
		<div class="col-1-1">
		<div class="block  div_center ui-corner-all border_solid bg_green">
		<h2> 操作成功！</h2>
		<p></p>
		</div>
		</div>	
	</div>
</section>


<form>

<input type="hidden" name="year" value="<%= plan.year %>">
<input type="hidden" name="month" value="<%= plan.month %>">
<input type="hidden" name="department_id" value="<%= plan.department.id %>">
<section class="container">
	<div class="grid">
		<div class="col-1-1">
			<div class="block">
				<h3><%= plan.year %>年<%= plan.month %>月
				<br/><%= plan.department.name %>工作执行情况
				</h3>
			</div>
		</div>
		<div class="col-1-1">
			<div class="block">
				<span class="ui-corner-all sp_lable">1</span>
				<textarea class="ui-corner-all ui-body-a" style="width:98%;height:80px;" name="context"></textarea>
				<span class="ui-corner-all sp_lable">2</span>
				<textarea class="ui-corner-all ui-body-a" style="width:98%;height:80px;" name="context"></textarea>
				<span class="ui-corner-all sp_lable">3</span>
				<textarea class="ui-corner-all ui-body-a" style="width:98%;height:80px;" name="context"></textarea>
			</div>
		</div>
		
		<div class="col-1-1 text-center">
			<a id="btn_commit" class="button button-green" >提交月计划</a>
		</div>
	</div>
</section>

</form>

<script type="text/javascript">
	$(function(){
		var del_result=function(result){
			if(result.flag){
				$("#pg_msg p").text(result.message);
				$("#pg_msg").show();
			}
		}
		$("#btn_commit").click(function(){
			$(".container").hide();
			$.post("/mp/save",$('form').serialize(),del_result);
		});
	});
</script>
</body>
</html>
