<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/site/quick.css" rel="stylesheet" />
    <link href="/static/site/app.css" rel="stylesheet" />
    <script src="/static/site/zepto.min.js"></script>
    
    <style type="text/css">
    .block{
    	padding: 10px;
    }
    .sp_lable{
		background-color: #E64346;
    	color: #FFFFFF;
		display: block;
		margin-left: 0em;
		text-align: center;
		width: 20px;
    }
    </style>
</head>

<body>

<section class="container">
	<div class="grid">
		<div class="col-1-1">
			<div class="block">
				<h3><%= plan.year %>年<%= plan.month %>月
				<br/><%= plan.department.name %>工作执行情况
				</h3>
				<p>状态:<%= plan.getState() %></p>
				<% for(var i=0; i<mpitmes.length; i++) {%>
				<div class="ui-corner-all ui-body-a mg-t5">
					<p>
					<span class="ui-corner-all sp_lable"><%=mpitmes[i].sn%></span>
					<% if(mpitmes[i].context){ %>
						计划：<%=mpitmes[i].context %>
					<% } %>
					<% if(mpitmes[i].context && mpitmes[i].summary){ %>   
					</br>
					<% } %>
					<% if(mpitmes[i].summary){ %>
						总结：<%=mpitmes[i].summary %>
					<% } %>
					</p>
				</div>
				<% } %>
			</div>
		</div>
		<div class="col-1-1 text-center">
		<% if(plan.state=='SUBMITTED'){ %>
			<a id="btn_next" class="button button-green" >通过当月计划</a>
			<a id="btn_back" class="button button-red" >打回部门经理修改</a>
		<% } %>
		
		</div>
	</div>
</section>
<form method="post"></form>
<script type="text/javascript">
	$(function(){
		$("#btn_next").click(function(){
			$("form").attr("action","/mp/<%= plan.id %>/next").submit();
		});
		$("#btn_back").click(function(){
			$("form").attr("action","/mp/<%= plan.id %>/back").submit();
		});
	});
</script>
</body>
</html>
