<!DOCTYPE html>
<html>
<head>
	<% include ../common/head.html %>
</head>
	
<body>
<div id="contain_body">

	<h3><%= plan.year %>年<%= plan.month %>月</h3>
	<h3><%= plan.department.name %>部门月度计划</h3>
	<p>状态:<%= plan.get_state() %></p>

	<ul>
		<%if(items){%>
		<% for(var i=0; i<items.length; i++) {%>
		<li class="context_li" data-id="<%=items[i].id%>" >
			<div class="width_100 float_left min_height60">
			<%if(!items[i].context){%>
				<div class="fix_right4px noshow div_delete"><a  class="btns_delete button button-red" data-id="<%=items[i].id%>">删除</a></div>
			<%}%>
				<%=items[i].sn%>.
				<% if(items[i].context){ %>
					计划：<%=items[i].context %>
				<% } %>
				<% if(items[i].context && items[i].summary){ %>   
				</br>
				<% } %>
				<% if(items[i].summary){ %>
					总结：<%=items[i].summary %>
				<% } %>
			</div>
		</li>
		<%}%>
		<%}%>
	</ul>

	<div class="container "><button id="btn_add" class="large_button button-gray width_100 " >+</button></div>
	
	<div class="container mg_t20"><a id="btn_commit" class="button button-green" >完成</a></div>


</div>
	
	<% include ../common/static_msg.html %>

	<script type="text/javascript">
		$(function(){

			$(".context_li").swipeLeft(function(){
				$(this).find(".div_delete").show();
			});
			$(".context_li").swipeRight(function(){
				$(this).find(".div_delete").hide();
			});


			$(".context_li").tap(function(){
				goto('/monthplan/item_smy?'+$.param({pa_id:<%=pa_id%>,item_id:$(this).data("id")}),'_self');
			});
			$(".btns_delete").tap(function(event){
				event.stopPropagation();//防止事件冒泡

				$("#contain_body").hide();
				$.post("/monthplan/item_smy/delete?pa_id=<%=pa_id%>",{id:$(this).data("id")},function(){
					goto('/monthplan/curr?pa_id=<%=pa_id%>');
				})
			});
			$("#btn_add").tap(function(){
				goto('/monthplan/item_smy?'+$.param({pa_id:<%=pa_id%>,plan_id:<%= plan.id%>}),'_self');
			});

			$("#btn_commit").tap(function(){
				$("#contain_body").hide();
				$.post("/monthplan/finish?"+$.param({pa_id:<%=pa_id%>}),{id:'<%=plan.id %>'},showMsg,'json');
			});
		});
	</script>
</body>
</html>
