<!DOCTYPE html>
<html>
<head>
	<% include ../common/head.html %>
</head>

<body>
	<% include ../common/message.html %>
	
	<%if(post=="G_Y"){%> 
		<% var active="one"%>
		<% include ../common/tabmenu.html %>
	<%}else{%>
		<h3>员工月度总结</h3>
	<%}%>

	<ul>
		<% for(var i=0; i<smys.length; i++) {%>
		<li class="context_li" data-id="<%=smys[i].id%>" >
			<div class="width_100 float_left"><%=smys[i].fullname%></div>
	        <div class="width_100 float_left">状态：<%=smys[i].state%></div>
		</li>
		<%}%>
	</ul>

<script type="text/javascript">
	$(function(){

		$(".context_li").tap(function(){
			goto('/monthsmy/check_one?'+$.param({pa_id:<%=pa_id%>,id:$(this).data("id")}));
		});
	
	});
</script>


</body>
</html>