<!DOCTYPE html>
<html>
<head>
	<% include ../common/head.html %>
</head>

<body>
<div id="contain_body">
	
	<h3><%= smy.year %>年<%= smy.month %>月</h3>
	<h3><%= smy.person.name %>月度工作小结</h3>
	<p>状态：<%= smy.get_state()%></p>

	<ul>
		<% for(var i=0; i<items.length; i++) {%>
		<li class="context_li" data-id="<%=items[i].id%>" >
			<div class="fix_right4px noshow div_delete"><a  class="btns_delete button button-red" data-id="<%=items[i].id%>">删除</a></div>
			<div class="width_100 float_left"><%=items[i].sn%>.<%=items[i].task%></div>
	        <div class="width_50 float_left">性质：<%=items[i].worktype.worktype%></div>
	    	<div class="width_50 float_left">用时：<%=items[i].get_fmt_workhour()%></div>
		</li>
		<%}%>
	</ul>

	<div class="container "><button id="btn_add" class="large_button button-gray width_100 " >+</button></div>
	
	<div class="container mg_t20"><a id="btn_commit" class="button button-green" >提交</a></div>



</div>

<% include ../common/static_msg.html %>

<script type="text/javascript">
	$(function(){
		$(".context_li").swipeLeft(function(){
			$(this).find(".div_delete").show();
		});
		$(".context_li").swipeRight(function(){
			$(this).find(".div_delete").hide();
		});

		$(".context_li").tap(function(){
			goto('/monthsmy/item?'+$.param({pa_id:<%=pa_id%>,item_id:$(this).data("id")}) );
		});
		$(".btns_delete").tap(function(event){
			event.stopPropagation();//防止事件冒泡
			
			$("#contain_body").hide();
			$.post('/monthsmy/item/delete?pa_id=<%=pa_id%>',{id:$(this).data("id")},function(){
				goto('/monthsmy/curr?pa_id=<%=pa_id%>');
			})
				
		});
		$("#btn_add").click(function(){
			goto('/monthsmy/item?'+$.param({pa_id:<%=pa_id%>,item_id:-1,smy_id:'<%=smy.id%>'}) );
		});

		$("#btn_commit").click(function(){
			$("#contain_body").hide();
			$.post("/monthsmy/submit?"+$.param({pa_id:<%=pa_id%>}),{id:'<%=smy.id %>'},showMsg,'json');
		});
	});
</script>
</body>
</html>
