<!DOCTYPE html>
<html>
<head>
	<% include ../common/head.html %>
</head>

<body>
<div id="contain_body">
<form method="post">
	<% var templist=["差","需改进","尽职","良好","优秀"]; %>
	
	<h3><%= smy.year %>年<%= smy.month %>月</h3>
	<h3><%= smy.person.name %>月度工作小结</h3>
	<p>状态：<%= smy.get_state()%></p>

	<ul>
		<% for(var i=0; i<items.length; i++) {%>
		<li class="context_li">
			<div class="width_100 float_left"><%=items[i].sn%>.<%=items[i].task%></div>
	        <div class="width_50 float_left">性质：<%=items[i].worktype.worktype%></div>
	    	<div class="width_50 float_left">用时：<%=items[i].get_fmt_workhour()%></div>
	    	<%if(items[i].point){%>
	    	<div class="width_100 float_left ct_show">评价：<span class='sel-c<%=items[i].point%>'><%=templist[items[i].point-1] %></span></div>
			<%}%>
		</li>
		<%}%>
	</ul>

	<div class="container mg_t20">
		<a id="btn_return" class="button button-gray" >返回列表</a>
	</div>
</form>
</div>


<script type="text/javascript">
	$(function(){
		$("#btn_return").tap(function(){
			$("#contain_body").hide();
			goto('/monthsmy/history/list?'+$.param({pa_id:<%=pa_id%>,page_numb:<%=page_numb%>}));
		});
	})
</script>

</body>
</html>
